.menuBox {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  margin-left: 0;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-bottom: 470px;
  border-radius: 6px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 0px;
}

.account {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 0px;
}

.accountItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}