.menuBox {
  width: 100%;
  height: 100%;
  display: flex;
  margin-left: 0;
  align-items: center;
  justify-content: center;
}

.cardItem {
  cursor: pointer;
}

.cardItem:hover {
  background-color: #fafafa;
}

.iconText:hover {
  color: #3f7ef7
}