.app{
  display: flex;
  flex-direction: column;
}
.header{
  text-align: center;
  margin-bottom: 10px;
  background-color: #333;
  color:white;
}
.header a{
  color:#fff;
  text-decoration: none;
}
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 86vh;
}

.editor {
  width: 80%;
  margin: 0 auto;
  padding: 0 10px 0 0;
  box-sizing: border-box;
}
.editor .ql-editor{
  height:82vh;
}
.userList {
  width: 20%;
  margin-right: 2rem;
  border-right: solid #ccc 1px;
  padding-left: 10px;
  box-sizing: border-box;
}

.user-list ul {
  list-style: none;
  padding:0 10px 0 0;
  height: 79vh;
}

.user-list li {
  margin-bottom: 0.5rem;
  font-size: 14px;
  background-color: #444;
  color: #FFF;
  padding:2px 0 2px 5px;
  border-radius: 10px;
}

.user-list .editing::after {
  content: "(正在编辑)";
  color:yellow;
  font-size: 12px;
  margin-left: 5px;
}
