.tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}